*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body, html {   
    height: 100%;
    margin: 0; 
    background-image: url("../images/41325889-tenda-o-drappi-sfondo-blu-scuro.jpg");
    width: 100%;
    height: 100%;
    display: block;
    /* min-width: 100%; */
    background-repeat: no-repeat;
    background-size: cover;   
     
}


h1{
    font-family: 'Brush Script MT';
    color: white;
    font-size: 5vw;
}

@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);



/* Global */
html{
  min-height: 100%;
  overflow: hidden;
}
/* body{
  height: calc(100vh - 8em);
  padding: 4em;
  color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace;  
  background-color: rgb(25,25,25);  
} */

.content-holder{
    position: relative;
    top: 20%;
    left: 5%;
    width: 50%;
    opacity: 0.0;
    animation: fadeIn 4s ease-in-out 0s forwards;
    -webkit-animation: fadeIn 4s ease-in-out 0s forwards;
}
.about{
    position: absolute;
    display: inline-block;
    font-family: Lucida Handwriting; 
    font-size: 2vw;
    color: rgba(255,255,255,.75);
    text-transform: none;
    margin: 0 20px;
    
}
#visuals-btn{
    
    color:white;
    margin-left: 35%;
    margin-top: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 90%;
    padding: 10px;
    width: 150px;
    /* background: linear-gradient(180deg, rgb(47, 206, 255),  rgb(9, 0, 128)); */
    background: transparent;
    border-bottom: solid 2px rgb(234, 250, 255);
    color:rgb(245, 245, 222);
    cursor:pointer;
}

a{
    text-decoration: none;
    color:rgb(245, 245, 222);
}

.circle-img{
    
    position:absolute;
    z-index: 1;
    left: calc(50vw + 15em);
    width: 500px;
    height: 500px;
    border-radius: 50%;
     /* Hidden by default. */
 
    box-shadow:  0 0 25px 15px rgb(162, 233, 255) ;  
    top: 20vh;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}

.circle-cover{

    position:absolute;
    z-index: 2;
    left: calc(50vw + 15em);
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: rgb(200, 235, 255);
    opacity: 0.5;
    top: 20vh;
}

.stone-content{
    position: absolute;
    width: 500px;
    height: 500px;
    left: calc(50vw + 15em);
    z-index: 3;
    top: 20vh;
    
}
.stone{
    
    font-size: 180%;
    color: rgba(7, 0, 92, 0.75);
    animation: fadeIn 2s ease-in-out 0s forwards;
    -webkit-animation: fadeIn 2s ease-in-out 0s forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35%;
    
}
    
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }

#budget-selection, #duration-selection{
    margin-left: 35%;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 90%;
    padding: 10px;
    width: 150px;
}


#duration-submit-btn, #prediction-submit-btn, #budget-submit-btn, #next-movie-search{
    margin-left: 35%;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 90%;
    padding: 10px;
    width: 150px;
    /* background: linear-gradient(180deg, rgb(47, 206, 255),  rgb(9, 0, 128)); */
    background: transparent;
    border: solid 2px rgb(234, 250, 255);
    color:rgb(245, 245, 222);
    cursor:pointer;
}
#next-movie-search{
    background: transparent;
    
}



@import url(https://fonts.googleapis.com/css?family=Mountains+of+Christmas:700);

#results{
    color: #035ee2;
    background: -webkit-linear-gradient(transparent, transparent), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/191814/blue_glitter.gif) repeat;
	background: -o-linear-gradient(transparent, transparent) !important;
	-webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-size: 4vh;
    font-family: 'Mountains of Christmas', cursive;
  
}
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

