*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body, html {   
    height: 100%;
    margin: 0; 
    background-image: url("../images/prediction-forecast-crystal-ball-future-ss-1920.jpg");
    width: 100%;
    height: 100%;
    display: block;
    /* min-width: 100%; */
    background-repeat: no-repeat;
    background-size: cover;    
}

@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
html{
  min-height: 100%;
  overflow: hidden;
}
/* body{
  height: calc(100vh - 8em);
  padding: 4em;
  color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace;  
  background-color: rgb(25,25,25);  
} */

.content-holder{
    position: relative;
    top: 20%;
    left: 5%;
    width: 50%;
    opacity: 0.0;
    animation: fadeIn 4s ease-in-out 0s forwards;
    -webkit-animation: fadeIn 4s ease-in-out 0s forwards;
}
.about{
    position: absolute;
    display: inline-block;
    font-family: 'Anonymous Pro', monospace; 
    font-size: 2vw;
    color: rgba(255,255,255,.75);
    text-transform: none;
    margin: 0 20px;
    
    }
    
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }

/* #cars-label{
    display: inline-block;
    font-family: 'Anonymous Pro', monospace; 
    font-size: 30px;
    color: rgba(255,255,255,.75);
    text-transform: none;
    margin: 0 20px;
    opacity: 0.0;
    animation: fadeIn 4s ease-in-out 0s forwards;
    -webkit-animation: fadeIn 4s ease-in-out 0s forwards;
} */



/* Google Fonts */
/* @import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
html{
  min-height: 100%;
  overflow: hidden;
}
body{
  height: calc(100vh - 8em);
  padding: 4em;
  color: rgba(2, 23, 56, 0.75);
  font-family: 'Anonymous Pro', monospace;  
  background-color: rgb(25,25,25);  
}
.line-1{
    position: relative;
    top: calc(100vh - 550px); 
    width: 24em;
    margin: 0 auto;

    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 4s steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
/* @keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
} */ */

.stone-content{
    margin-left: 40%;
}

.btn {
    display:block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    color: white;
    border: 1px solid rgb(255, 253, 243);
    margin-left: 45%;
    margin-top: 35%;
    background: linear-gradient(180deg, rgb(0, 195, 255), rgb(47, 0, 255));;
  }

 