<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie makers</title>
</head>
<body>
    <h1>This is the webpage</h1>
    <div id="debug"></div>
    <!-- <script>
        fetch('./frontend/movies.json')
            .then(response => response.json())
            .then(data => {
                var movies = (data['movies'])
                for(var i = 0; i < movies.length; i++){
                    console.log(movies[i]);
                }
            })
    </script> -->
    <script src="frontend/js/data.js"></script>
    <script src="frontend/js/app.js"></script>
</body>
</html>
